@import "tailwindcss";

/* -------------------------------
    Light Theme
--------------------------------- */
:root {
  /* Backgrounds */
  --background: #f4f1de;
  --foreground: #1e3944;
  --card-background: #1e3944;
  --primary: #fa6d4a;
  --primary-light: #f2cc8f;
  --secondary: #e8f3f2;

  /* Fonts */
  --font-sans: "Inter", system-ui, sans-serif;
  --font-heading: "Playfair Display", serif;
  --font-weight: 400;
}

/* -------------------------------
    Dark Theme
--------------------------------- */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e3944;
    --foreground: #f4f1de;
    --card-background: #1e3944;
    --primary: #fa6d4a;
    --primary-light: #f2cc8f;
    --secondary: #e8f3f2;
  }
}

/* -------------------------------
    Base styles
--------------------------------- */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--foreground);
}

.navbar {
  background-color: #1e3944;
}

a,
.navbar-a {
  color: var(--primary);
  transition: color 0.2s ease;
  position: relative;
}

a:hover,
.navbar-a:hover {
  color: var(--primary-light);
}

.navbar-a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: var(--background);
  transition: width 0.3s ease;
}

.navbar-a:hover::after {
  width: 100%;
}

.navbar-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.1em; /* try 0.05em, 0.1em, etc. */
  color: var(--primary);
  transition: color 0.2s ease;
}

.navbar-item:hover {
  color: var(--primary-light);
}

.navbar-item::after {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-light);
  transition: width 0.3s ease;
}

.navbar-item:hover::after,
.group.active .navbar-item::after {
  width: 100%;
}

/* Buttons */
.main-ui-button {
  background-color: var(--primary);
  color: white;
  transition: all 0.2s ease;
  font-size: 1rem;
  line-height: normal;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.main-ui-button:hover {
  filter: brightness(0.95);
}

.main-ui-button:focus {
  outline: 2px solid var(--primary-dark, #0055aa);
  outline-offset: 2px;
}

.main-ui-button:active {
  filter: brightness(0.8);
}

/* Cards / Panels */
.card {
  background-color: var(--card-background);
  color: var(--foreground);
  border-radius: 0.5rem;
  padding: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Scrollbar */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}
